extends base.pug 

block scripts 
    script(src="script.js") 

block style 
    style 
      include  style.css 
      include about.css 
block body 
      h3  "Dancing makes me feel happy and relaxed, thus I love to dance. I always participate in dance competitions at my school and have even won a few. Dance became my passion from an early age. Listening to the beats of a dance number, I started to tap my feet and my parents recognized my talent for dance".