extends base.pug 

block scripts 
    script(src="script.js") 

block style 
    style 
      include  style.css  
      include address.css 
block body 
    div 
      h1 Nadia 
      p *Ranaghat Class add- 
      h5 Mahut-para lane,near naba kalyan sangha club.  
      p *Krishnagar Class add -
      h5 High street, Chasa para, near old burima vaban.  
      h1 north-24-pargana 
      p *Kanchrapara Class add- 
      h5 Baghmore,kanchrapara,near petter england showroom. 
      p *Barrackpur class add- 
      h5 Sewli High School, near barrackpur station. 
