doctype html 
html 
 head 
   title Saiba Dance Acedemy 
   block scripts 
   block style  
body 
   nav#navbar.top 
            ul  
              div#logo 
                 img(src="/static/logo.png") 
                 |SDA
              li #[a(href="Home") Home]
              li #[a(href="About") About]    
              li #[a(href="contact") Contact Us]  
              li #[a(href="address") Address]      
   block body 
   block footer 
      footer 
        h5  Copyright 0 2023 AnkushDanceAcademy.com | All rights reserved. 