extends base.pug 

block scripts 
    script(src="script.js") 

block style 
    style 
      include  style.css 
      include contact.css 
block body 
    h2 Contact Us through  
    h4 wp--9609559197  
    h4 mobile--9832112867
    h4 email--ankushbanerjee26@gmail.com 
    
