extends base.pug 

block scripts 
    script(src="script.js") 

block style 
    style 
      include style.css 

block body   

    section#introSection 
        div Welcome to the world of Dance.  
        div.small "Eat sleep dance repeat." 
    section#sponsersSection 
        div Types of Dances 
        div.types 
                li Bharatanatyam. 
                li Kathakali. 
                li Kathak.  
                li Manipuri. 
                li Kuchipudi. 
                li Odissi. 
    section#Mission 
        h2 Our Mission is--
        div.card 
            h4 "Our mission is to instill a great love of dance, while inspiring self-confidence, discipline and respect of the performing arts. We provide a solid technical foundation for the developing dancer."  

